<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors</title>
  <link href="rock_paper_scissors.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
