<h1>Rock, Paper, Scissors</h1>
<form action='/results'>
  <div class="form-group">
    <label for="player2">Player 2: Enter Rock, Paper, or Scissors</label>
    <input id="player2" name="player2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Play!</button>
</form>
