<h1>Rock, Paper, Scissors</h1>
<form action='/player2'>
  <div class="form-group">
    <label for="player1">Player 1: Enter Rock, Paper, or Scissors</label>
    <input id="player1" name="player1" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Play!</button>
</form>
